$purple: #6B3767;
$black: #140212;
$white: #f8f8f8;
$green: #89d41a;

// hide div
.hide_div {
	display: none;
}

//show div
.show_div {
	display: inline;
}

body {
	background-color: $black;
}

button {
	color: $white;
	background-color: $green;
	border-radius: 25px;
	margin: 10px;
    padding: 4px;
}

p {
	color: $white;
}

h3 {
	color: $white;
}

#main_container {
	margin: auto;
	margin-top: 4em;
    width: 50%;
    border: 3px $green;
    padding: 10px;
    background-color: $purple;
    border-radius: 25px;
}

#embed_url {
	background-color: $green;
}

#main_img {
	display: block;
    margin: 0 auto;
	margin-bottom: 2em;
}

#search_button{
    position: relative;
    margin-top: 10px;
    margin-left: 244px;
}

#random_gif_button{
	position: relative;
    margin-left: 386px;
    margin-top: -49px;
}

// body {
// 	background-color: blue;
// }

// p {
// 	color: red;
// }